{% extends "base.html" %}
{% block title %}rFisi - Utilizador {{user.first_name}} {{user.last_name}}{% endblock %}
{% block headertitle %}rFisi - Paciente{% endblock %}
{% block subtitle %}{{user.first_name}} {{user.last_name}}{% endblock %}
{% block contentTitle %}{{user.first_name}} {{user.last_name}}{% endblock %}
{% block content %}
<b>Email: </b> {{user.email}}<br/>
<b>Data de Nascimento: </b> {{prof.data_nascimento}}<br/>
<b>Morada: </b>{{prof.rua}} {{prof.cod_postal}} {{prof.cidade}}<br/>
<b>Telefone: </b> {{prof.telefone}}<br/>
<br/>
{% if not prof.candidatura %}
<br/>
<a href="../near/{{ user.id }}/">Ver fisioterapeutas próximos</a>
{% else %}
<b>NIB: </b> {{prof.candidatura.nib}}<br/>
<b>NIF: </b> {{prof.candidatura.nif}}<br/>
<b>BI: </b><a href="{{ MEDIA_URL }}/{{prof.candidatura.fotocopia_bi}}">Download/Ver</a><br/>
<b>CV: </b><a href="{{ MEDIA_URL }}/{{prof.candidatura.cv}}">Download/Ver</a><br/>
{% endif %}
{% endblock %}