{% extends "base.html" %}
{% block title %}rFisi - Fisioterapeutas próximos de {{user.first_name}} {{user.last_name}}{% endblock %}
{% block headertitle %}rFisi - Fisioterapeutas próximos{% endblock %}
{% block subtitle %}Fisioterapeutas próximos de {{user.first_name}} {{user.last_name}}{% endblock %}
{% block contentTitle %}Fisioterapeutas próximos{% endblock %}
{% block content %}
Paciente: <a href="../../{{ user.id }}/">{{ user.first_name }} {{ user.last_name }}</a>
<table cellspacing="30">
<tr>
<th>Fisioterapeuta</th>
<th>Distancia</th>
<th>Iniciar tratamento</th>
</tr>
{% for fisioterapeuta in fisioterapeutas %}
<tr>
<td align="center"><a href="../../{{ fisioterapeuta.uid }}/">{{ fisioterapeuta.name }}</a></td>
<td align="center">{{ fisioterapeuta.distance }} km</td>
<td align="center"><a href="../../../tratamentos/start/{{ user.id }}/{{ fisioterapeuta.uid }}">Iniciar tratamento</a> </td>
</tr>
{% endfor %}
</table>
{% endblock %}