{% extends "base.html" %}
{% block title %}rFisi - Sucesso{% endblock %}
{% block content %}
    <h3>O paciente foi registado com sucesso.</h3>
{% endblock %}

{% extends "base.html" %}
{% block title %}rFisi - Erro{% endblock %}
{% block content %}
    <h3>A sua candidatura foi recebida com sucesso, obrigado.</h3>
{% endblock %}

{% extends "base.html" %}
{% block title %}rFisi - Paciente registado{% endblock %}
{% block headertitle %}rFisi - Paciente foi registado com sucesso{% endblock %}
{% block subtitle %}Registo bem sucedido{% endblock %}
{% block contentTitle %}Registo completo{% endblock %}
{% block content %}
Paciente foi registado com sucesso.
{% endblock %}
