{% extends "base.html" %}
{% block title %}rFisi - Sucesso{% endblock %}
{% block content %}
    <h3>A sua candidatura foi recebida com sucesso, obrigado.</h3>
{% endblock %}

{% extends "base.html" %}
{% block title %}rFisi - Candidatura submetida com sucesso{% endblock %}
{% block headertitle %}rFisi - Candidatura submetida com sucesso{% endblock %}
{% block subtitle %}Obrigado{% endblock %}
{% block contentTitle %}Sucesso{% endblock %}
{% block content %}
A sua candidatura foi recebida com sucesso, obrigado.
Será informado(a) assim que houver alterações ao seu processo de candidatura.
{% endblock %}
