<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% block title %}rFisi{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="/static/base.css" />

</head>

<body>
	<div id="page">
		<div id="header">
        	<div id="headerTitle">{% block headertitle %}{% endblock %}</div>
            <div id="headerSubText">{% block subtitle %}{% endblock %}</div>
		</div>
		{% block sidebar %}
    	<div id="sidebar">
			<div id="bar">
		    	<div class="navLink"><a href="/">inicio</a></div>
		        <div class="navLink"><a href="/candidaturas/">candidaturas</a></div>
				<div class="navLink"><a href="/utilizadores/">pacientes</a></div>
				<div class="navLink"><a href="/tratamentos/">tratamentos</a></div>
			</div>
		</div>
        {% endblock %}
		<div class="contentTitle"><h1>{% block contentTitle %}{% endblock %}</h1></div>
        <div class="contentText">{% block content %}{% endblock %}</div>
    </div>
 <div id="footer">rFisi by <a href="http://www.luisrei.com">luis rei</a> </div>
</body>
</html>